@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
}


:root {
    --bg-color: #60b2ca;
    --card-bg-color: #124f60;
    --text-white: #fff;
}

::-webkit-scrollbar{
    display: none;
}

body {
    background: var(--bg-color) !important;
}