
.container__todo-list {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.bg-img {
    border: 1px solid black;
    position: absolute;
    height: 700px;
    width: 500px;
    z-index: -1;
}

.todo__form {
    border: 1px solid black;
}
