
.container__todo-list {
    height: 700px;
}

.bg-img {
    height: 700px;
    width: 500px;
    z-index: -1;
}

.todo__list {
    margin-bottom: -5px;
}

.todolist__box{
    margin-top: 4.2rem;
    z-index: 1;
}

.button-icon {
    cursor: pointer;
    font-size: 1.1rem;
}

.text__box{
    width: 270px;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}