
.container__todo-list {
    height: 700px;
    border: 1px solid black;
}

.bg-img {
    border: 1px solid black;
    height: 700px;
    width: 500px;
    z-index: -1;
}

.todo__form {
    border: 1px solid black;
}

.temp__box{
    margin-top: 4.2rem;
    margin-left: 18.5rem;
    width: 360px;
    z-index: 1;
}
